body{
  background-image: url(../img/Wallpaper);
  font-family: "Arial";
  }

a{

  color: brown;
}


a:hover{

  color: blue;
}


div{
  padding: 10px;
}

.MainDiv{

    background-color: #f6e3b9;
    width: 80%;
    margin-left: 100px;
    margin-top: 100px;
    padding: 10px;
  }

.wishlist{
    width: 50%;
    height: 500px;
    position: absolute;
  }

  .flexcontainer{
    display: flex;
    padding: 0;
  }

  .question{
    padding: 10px;
    width: 300px
}


.answer{
  padding: 10px;
  width: 700px;
  padding-bottom: 10px
}