body{
  font-family: "Courier New";
}

a {
  color: black;
}

a.hover{
  color: white;
}


.main{
  background-image: url(../img/mobileIndex.jpg);
  width: 640px;
  height: 1120px;
  margin-top: 10px;
  padding-top: 10px;
}

.mainblog{
  background-image: url(../img/mobileRed.jpg);
  width: 640px;
  height: 1120px;
  margin-top: 10px;
  padding-top: 10px;
}

.maincultural{
  background-image: url(../img/mobilePurple.jpg);
  width: 640px;
  height: 1120px;
  margin-top: 10px;
  padding-top: 10px;
}

.maintech{
  background-image: url(../img/mobileBlue.jpg);
  width: 640px;
  height: 1120px;
  margin-top: 10px;
  padding-top: 10px;
}

.mainwish{
  background-image: url(../img/mobileYellow.jpg);
  width: 640px;
  height: 1120px;
  margin-top: 10px;
  padding-top: 10px;
}


.LinksContainer{
  display: flex;
  margin-left: 10px;

}

.Link{
  width: 130px;
  height: 20px;
  margin: 15px 5px 10px 5px;


}

.page{
  padding-top: 30px;
  display: flex;
  margin-left: 10px;
}

.menu{
  width: 150px;
  height: 250px;
  margin-left: 25px;
  margin-bottom: 25px;
  padding: 20px;

}

.content {
  width: 440px;
  height: 1000px;
  margin-left: 15px;
  margin-bottom: 25px;
}

.selected{
  background-color: white;

}